.header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  margin-bottom: 20px;
}

.actor-picture {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  object-fit: cover;
  margin-right: 30px;
}

.actor-name {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 6px;
}

.actor-birth {
  font-size: 14px;
}